<% if @answer.errors.present? %>
    $('.new_answer_errors').html('')
    <%@answer.errors.full_messages.each do |message|%>
        $('.new_answer_errors').append('<p> <%= j message %></p>')
    <% end %>
<% end %>